
*.dart
.dart_tool/package_config_subset
.dart_tool/package_config.json
.dart_tool/version
.idea/flutter_clean_tdd.iml
.idea/libraries/Dart_Packages.xml
.idea/libraries/Dart_SDK.xml
.idea/libraries/Flutter_Plugins.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/flutter_clean_tdd.iml
.idea/libraries/Dart_SDK.xml
.idea/modules.xml
.idea/vcs.xml
